# Environment -------------------------------------------------------------------------------------------------------- #
.env

# JetBrains ---------------------------------------------------------------------------------------------------------- #
.idea

# Source control ----------------------------------------------------------------------------------------------------- #
.git

# Virtual environment ------------------------------------------------------------------------------------------------ #
venv

# Visual Studio Code ------------------------------------------------------------------------------------------------- #
.vscode
